<div class="main">
    <div class="cover container">
        <div id="content3">
            <div class="contact">
                <div class="contact-links">
                  <h2>CONTACT</h2><br>
                  <p>Follow our socials and like our pages to see more content from us</p>
                    <div class="link">
                        <ul> 
                            <li><a href=""><img src="{{linkedin}}" alt="linkedin"></a></li>
                            <li><a href=""><img src="{{twitter}}" alt="twitter"></a></li>
                            <li><a href="https://facebook.com/shalomflames"><img src="{{facebook}}" alt="facebook"></a></li>
                            <li><a href=""><img src="{{instagram}}" alt="instagram"></a></li>
                        </ul>
                        <ul>
                            <img src="{{phone}}"> <span>09033231620</span>
                            
                        </ul>
                    </div>
                </div>
 
                <div class="contact-form-wrapper">
                  <form action="https://formsubmit.co/adoyishalom@gmail.com" method="POST">
                    <h2>Send us a message</h2><br>
                    <div class="form-item">
                      <input type="text" name="sender" required>
                      <label>Name:</label>
                    </div>
                    <div class="form-item">
                      <input type="email" name="email" required>
                      <label>Email:</label>
                    </div>
                    <div class="form-item">
                      <textarea class="" name="message" required></textarea>
                      <label>Message:</label>
                      <!-- <input type="hidden" name="_captcha" value="false"> -->
                    </div>
                    <button class="submit-btn" type="submit">Send</button>  
                  </form>
                </div>
            </div> 
        </div> 
    </div>
</div>