<div class="main">
    <div class="cover container">
        <div class="img">
            <img src="{{p1}}" alt="image">
        </div>
        <div class="title">
            <div>
                <h1>CARTWRIGHT <br> <span class="promotions">PROMOTIONS</span></h1>
            </div>
            <div>
                <p>
                    A media company offering content creation and promotion, <br> Graphics design and Web development
                </p>
            </div>
            
            <div class="button btn">Hire us</div>
        </div>
        
        
    </div>
</div>